*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contacts-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.table{
    display: flex;
    justify-content: center;
    width: 100%;
}


.table-body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 956px;
    height: 46px;
    top: 256px;
    margin-left: 233px;
    background-color:#FFFAFA;
}

.line-items{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    padding-right: 60px;
}

.table-line{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
}
